body {
	background-color: White;
}

aside {
	min-height: 100%;	
	border-right: solid black;
	background-color: LightSteelBlue;
}

aside img {
	display: block;
	margin: 0 auto;
	margin-top: 2em;
	border: solid black;
}

aside h1 {
	text-align: center;
}

aside ul {
	padding-left: 0;
	text-align: center;
	list-style: none;
}

section {
	min-height: 100%;
	display: block;
	overflow: auto;
}

#mainArea {
	display: flex; /* children are equal height */
}

td {
	border: 3px solid lightgrey;
}

footer {
	clear: both;
	height: 20%;
	border-top: solid black;
	background-color: LightSteelBlue;
}
